* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.w-100 {
    width: 100px;
}

.container {
    max-width: 1140px;
    margin: auto;
}